body {
  background-color: gray;
  width: 100vw;
  min-height: 100vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}


.list-app {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

#list-conatiner {
  display: flex;
}

.delete-list-icon {
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  cursor: pointer;
}

ul li {
  list-style: none;
  position: relative;
}


.list-title {
  color: gray;
  text-align: center;
}

.button {
  background-color: black;
  padding: 1px 10px;
  color: white;
  cursor: pointer;
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
}

input[type=checkbox] {
  margin-right: 10px;
}

input[type=text] {
  width: 300px;
}

ul li span {
  position: absolute;
  right: 0;
  font-size: 25px;
}

ul li span:hover {
  cursor: pointer;
}

.button-footer {
  margin: auto 0 20px 20px;
  cursor: pointer;
  width: 10%;
}
